body {
	margin : 0;
}

button, input::placeholder, body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

/* Reste a régler le problème e centrage du bloc ! */
.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.label {
	display: block;
	margin-bottom: 8px;
}


input::placeholder{
	text-indent: 1em;
	color: #ADADAD;
}

.box-model {
	box-sizing: border-box;
	border : 1px solid #ADADAD;
	width: 350px;
	height: 48px;
	border-radius: 4px;
}

.button {
	background-color: #FF7675;
	color: white;
	border : none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login input {
	text-indent: 1em;
	margin-bottom: 24px;
	padding: 0;
}

.login a {
	text-decoration: none;
	color :#FF7675;
	display: block;
	margin-top: 32px;
	text-align: center;
}