html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}


body {
	margin : 0;
}

li {
	list-style-type: none;
}

button, input::placeholder, body {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
}

/* Reste a régler le problème e centrage du bloc ! */
.center-div {
	display: flex;
	justify-content: center;
	align-items: center;
}

.label {
	display: block;
	margin-bottom: 8px;
}


input::placeholder{
	text-indent: 1em;
	color: #ADADAD;
}

.box-model {
	box-sizing: border-box;
	border : 1px solid #ADADAD;
	width: 350px;
	height: 48px;
	border-radius: 4px;
}

.button {
	
	background-color: #FF7675;
	color: white;
	border : none;
	display: flex;
	align-items: center;
	justify-content: center;
}

.login input {
	text-indent: 1em;
	margin-bottom: 24px;
	padding: 0;
}

.login a {
	text-decoration: none;
	color :#FF7675;
	display: block;
	margin-top: 32px;
	text-align: center;
}

/*********************** Home ***********************/

.container {
	margin: 32px 16px 0 16px;
}

.home{
	margin-right: 13px;
}

.email {
	font-weight: bold;
	margin-top: 3px;
}

.home-email {
	display: flex;
}

.increment-box {
	/* spécificité de la boite */
	width: 24px;
	height: 24px;
	border-radius: 3px;
	background-color: #FF7675;


	/* specificité du texte à l'intérieur de la boîte */
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}

.nav-list {
	padding: 0;
	margin: 0;
}

.nav-list-item {
	margin-bottom: 16px;
	display: flex;
	justify-content: space-between; 
}

.list-div {
	display: flex;
}

.line {
	margin-top: 49px;
	margin-left: 18px;
}

.list{
	margin-top: 39px;
	margin-bottom: 24px;
	font-size: 16px;
}


/***************************** listDetails *********************************/

.header {
	font-size: 18px;
	font-weight: 500;
	width: 375px;
	height: 54px;
	background-color: #FF7675;
	color: white;
	display: flex;
	align-items: center;
	margin-bottom: 24px;
}

.menu {
	width: 16px;
	height: 14px;
	margin: 20px;
}

.header h1 {
	margin: 0;
}

.line {
	margin: 0;
	display: block;
}

.nav-box {
	width: 375px;
}

.flex-item {
	display: flex;
	align-items: center;
}

.item-title {
	height: 48px;	
}

.space-between {
	justify-content: space-between;
}

.radio-size {
	width: 20px;
	height: 20px;
}

.radio {
	margin : 14px 16px 14px 16px;
}

.delete {
	margin-right: 24px;
}

.plus {
	margin: 14px 16px 14px 14px;
}

/*Side-bar */

.sb-wrapper {
	margin: 0 16px;
}

.position {
	width: 350px;
	position: absolute;
}

.sb-form {
	position: absolute;
	top: 56px;
}


.sb-box-model {
	margin-top: 8px;
	width: 318px;
	height: 48px;
	box-sizing: border-box;
	border : 1px solid #ADADAD;
	border-radius: 4px;
}

.little {
	height: 48px;
}

.big {
	height: 128px;
}

input[name="new-step"] {
	border : none;
}

.close {
	position: absolute;
	right: 21px;
	top: 21px;
}

.dead-line {
	margin-top: 8px;
	margin-bottom: 24px;
}

.remove {
	margin-right: 17px;
}

.sb-form input[type="radio"] {
	margin: 0 19.48px 0 8px;
}

input[name="new-step"] + img {
	margin-right: 12px;
}

.sb-box {
	margin-bottom: 24px;
}

.sb-button {
	display: flex;
}

.sb-button-box {
	height: 48px;
	width: 146px;
	border-radius: 4px;
	margin-bottom: 44px;
}

.sb-button :first-child {
	background: #FF7675;
	margin-right: 26px;
}

.sb-button :last-child {
	background: #BDBDBD
}

textarea{
 resize:none;
}

/***************************** Settings *********************************/


@media screen and (max-width: 767px) 
{
	.rectangle_settings
	{	
	background-color: #FF7675; 
	display : grid;
	grid-template-columns: repeat(2,auto);
	grid-gap: 20px;
	justify-content: left;
    align-items: center;
    width: 100%;
	}

	.rectangle_settings p
	{
	color : #FFFFFF;
	}	

	.sidebar
	{
		display: none;
	}

}


.settings
{
	padding-bottom: 31px;
	padding-right : 12px;
	padding-left : 13px;

}

.settings .settings-password
{
	margin-top : 48px;
}

.settings input
{	
	text-indent: 1em;
	margin-bottom: 24px;
	padding: 0;

} 

.settings label
{
	text-decoration: none;
	display: block;
	margin-top: 32px;	
}

@media screen and (min-width: 768px) {
	.rectangle_settings p
	{
	color : black;
	font-size: 32px;
	font-weight: 700;
	}
}



